.myStrategyPage__container {
  $card-gap: 1.5em;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: $card-gap;

  .firstRow {
    display: flex;
    gap: $card-gap;

    .createCard {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1.5em;
      // padding: 1.5em;

      .title {
        margin-bottom: 0;
      }

    }

    .myStrategyCard {
      flex: 7;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      // padding: 1.5em;

      .createBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.2em;
      }
    }
  }

  .secondRow {
    .title {
      margin: 1em 0;
      font-size: 1.8em;
      font-weight: 600;
    }
  }
}

.createStrategyModal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;

  .modal__head {
    .title {
      margin-bottom: 0;
    }
  }
  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 100%;

    .part {
      display: flex;
      gap: 1.5em;

      .part__number {
        $size: 2em;

        width: $size;
        height: $size;
        color: #000;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $size / 5;
        font-weight: 600;
      }

      .part__content {
        display: flex;
        flex-direction: column;
        gap: 1.2em;
        width: 100%;

        .part__content__title {
          font-size: 1.5em;
          font-weight: 600;
          color: #fff;
          opacity: 0.8;
        }

        .part__content__input_group {
          display: grid;
          width: 100%;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 2em;
          row-gap: 1.5em;
        }
      }
    }
  }
}

.circleIcon {
  $bg-color: #3542df;
  $size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: var(--color-bg, $bg-color);
  color: var(--color-white);
  font-size: 2em;
  font-weight: 300;
}

.modalBtn {
  font-size: 0.8em;
}
