.tag {
  $height: 1.8em;

  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1em;
  border-radius: $height / 2;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
