.table {
  position: relative;

  .table__header {
    text-align: left;
    height: 4em;
    opacity: 0.5;

    .table__header__item {
      font-weight: 400;
    }
  }

  .table__body__item {
    height: 3em;
  }

  .clickable {
    cursor: pointer;
  }
}

.table__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 8em;

  .table__empty__text {
    font-size: 1.5em;
    font-weight: 600;
    opacity: 0.6;
  }
}

.table__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 8em;
  opacity: 0.6;
}
