.notificationBtn {
  position: relative;
  cursor: pointer;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  .notificationBtn__img {
    height: 32px;
    font-size: 32px;
  }
  
  .notificationBtn__number {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #ff0000;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    border-radius: 50%;
  }
}
