.layoutApp {
  display: flex;
  width: 100%;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    position: relative;

    .contentContainer {
      width: 80%;
      padding: 2em 0;

      .navBar {
        margin-bottom: 2em;
      }
    }
  }

  .sideBar {
    width: 30vw;
    min-height: 100vh;
    max-width: 500px;
    background-color: #13120f;

    .wrapper {
      padding: 50px 60px;
    }
  }
}